* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.code {
  padding: 10px;
  white-space: pre-wrap;
  background-color: #2b2b2b;
  color: #cce5e5;
  position: fixed;
  display: block;
  height: 100%;
  overflow: scroll;
  width: 100%;
  z-index: -1;
}

.hljs-selector-pseudo {
  color: #ae859a;
}

.hljs-number {
  color: azure;
}

.hljs-selector-id {
  color: #ea9fc7;
}

.hljs-attribute {
  color: #d09fb6;
}

.hljs-meta {
  color: #e57694;
}

.hljs-literal {
  color: #ea91ce;
  font-weight: bold;
}

.hljs-attr {
  color: #fcbec8;
}

.hljs-string {
  color: #dec4f6;
}

.hljs-function {
  color: slategray;
}

.hljs-params {
  color: lightgray;
}

.hljs-keyword {
  color: #da92e0;
}

.hljs-built_in {
  color: #f19988;
}

.hljs-title {
  color: #d8c8ee;
}


